/* scheduler.component.scss */
.event-check-track {
    background-color: #f5a623;
    border-color: #f5a623;
  }
  
  .event-add-track {
    background-color: #7ed321;
    border-color: #7ed321;
  }
  
  .event-critical {
    background-color: #d0021b;
    border-color: #d0021b;
  }
  
  .event-reserved {
    background-color: #4a90e2;
    border-color: #4a90e2;
  }
  